body{
	padding: 0;
	margin: 0;
	width:100vw;
	height: 100vh;
    background-image: url("pic.png");
}
h1 {
    text-align: center;
    margin-top: 25px;
    color: white;
    text-shadow: 2px 2px #d764ab;
}
.panel{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.question-container{
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 10vh;
	background-color: #c990d4;
	font-size: x-large;
	text-align: center;
    border-radius: 10px;
    text-shadow: 2px 2px black;
    color:white;
	
}
.result{
	margin: 10px;
	padding: 5px;
	width:80vw;
	height: 10vh;
	text-align: center;
	font-size: 50px;
	
}
.option-container{
	display: flex;
	justify-content: space-around;
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 20vh;
	background-color: #9f72af;
    border-radius: 10px;
	
}
.option{
	padding: 10px;
	width: 15vw;
	height: 10vh;
	font-size: larger;
	background-color: rgb(134, 101, 146);
	border-radius: 10px;
}
.option:hover{
	background-color: rgb(202, 109, 177);
    color: white;
}
.navigation{
	width: 80vw;
	height: 10vh;
	margin: 10px;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	background-color: #9f72af;
    border-radius: 10px;
}

.evaluate,.next{
	width:30vw;
	height: 8vh;
	padding: 5px;
	font-size: larger;
}
.evaluate{

	background-color: #6b5678;
    border-radius: 10px;
}
.next{
	color: rgb(14, 14, 14);
	background-color: #6b5678;
    border-radius: 5px;
}
